body {
    background-color: lightsteelblue;
    width: 70%;
    height: auto;
    margin: 0 auto;
}
h1 {
    font-size: 50px;
    text-align: center;
    color: red;
    font-style: italic;
}
li {
    color: blue;
    font-size: 20px;
}
.flex li {
    color: gold;
}
.flex {
    margin: 0 auto;
    width: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid red;
}
p {
    text-indent: 50px;
    
}